<div li-block="Dropdown Item">
                    
                              
                    <a href="{{ block.settings.url_category_link }}" class="navbar-dropdown-link"> {{ block.settings.text_category_name }} </a>
                    
                            
                </div> {% schema %} {
    "name": "Dropdown Item",
    "settings": [
        {
            "id": "url_category_link",
            "type": "url",
            "label": "Category Link"
        },
        {
            "id": "text_category_name",
            "type": "text",
            "label": "Category Name",
            "default": "Helix"
        }
    ],
    "presets": [
        {
            "name": "Dropdown Item"
        }
    ]
} {% endschema %}