<div li-block="Line" class="line">
                    
                </div> {% schema %} {
    "name": "Line",
    "settings": [],
    "presets": [
        {
            "name": "Line"
        }
    ]
} {% endschema %}