<div li-block="Line">
                    
                              
                    <div class="line"></div>
                    
                            
                </div> {% schema %} {
    "name": "Line",
    "settings": [],
    "presets": [
        {
            "name": "Line"
        }
    ]
} {% endschema %}