<div li-block="Outbound Link" class="navbar-outbound-link-wrapper">
                    
              
                    <a href="{{ block.settings.url_link }}" class="navbar-text"> {{ block.settings.text_outbound_link }} </a>
                    
            
                </div> {% schema %} {
    "name": "Outbound Link",
    "settings": [
        {
            "id": "url_link",
            "type": "url",
            "label": "Link"
        },
        {
            "id": "text_outbound_link",
            "type": "text",
            "label": "Outbound Link",
            "default": "Text Link"
        }
    ],
    "presets": [
        {
            "name": "Outbound Link"
        }
    ]
} {% endschema %}