<h1>Heading</h1> {% schema %} {
    "tag": "div",
    "name": "Testsection",
    "class": "section-block-test",
    "presets": [
        {
            "name": "Testsection",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}